name: iOS Build

on:
  
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true  

      - name: Select Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.4"


      - name: Build and Archive
        run: |
          set -o pipefail
          xcodebuild clean archive \
            -project "LiveContainer.xcodeproj" \
            -scheme "LiveContainer" \
            -configuration Release \
            -archivePath $PWD/build/LiveContainer.xcarchive \
            -destination "generic/platform=iOS" \
            CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO \
          | xcpretty

      - name: Export IPA
        run: |
          set -o pipefail
          xcodebuild -exportArchive \
            -archivePath $PWD/build/LiveContainer.xcarchive \
            -exportOptionsPlist .github/workflows/ExportOptions.plist \
            -exportPath $PWD/build/export \
            CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO \
          | xcpretty
          echo "Contents of build/export:"
          ls -R build/export

      - name: Upload IPA artifact
        uses: actions/upload-artifact@v4
        with:
          name: LiveContainer.ipa
          path: build/export/*.ipa
